.cache
CMakeUserPresets.json
build
__pycache__
.pytest_cache
.ruff_cache
.mypy_cache
*.so
.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/tasks.json
.vscode/compile_commands.json
.vscode/CMakeUserPresets.json